.eventList {
	background: #E9ECF1;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
	padding: $space;
	list-style: none;

	&__item {
		display: flex;
		border-bottom: 1px solid #D6DDE4;
		padding: 1rem 0;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border: none;
			padding-bottom: 0;
		}

		&__date {
			flex: 0 0 auto;
	  		width: auto;
	  		margin-right: 2rem;
	  		min-width: 4rem;
		}

		&__content {
			flex-basis: 0;
	  		flex-grow: 1;
	  		max-width: 100%;

	  		h4 {
	  			font-size: 1rem;
	  			font-weight: 400;
	  			color: $darkerBlue;
	  		}

		}
	}
}