.paneLayout {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    overflow-x: hidden;

    &__sidebar {
    	flex: 0 0 60px;
    	background-color: $darkerBlue;
    	overflow-y: auto;
    }

    &__filters {
    	flex: 0 0 250px;
    	background-color: $darkBlue;
    	padding: $space;
    	overflow-y: auto;
    }

    &__content {
        background-color: transparent;
        width: 100%;
        overflow-y: auto;
        position: relative;
        padding: $space $space * 2;
    }
    &__rightSidebar {
        background-color: transparent;
        flex: 0 0 30vw;
        overflow-y: auto;
        position: relative;
        padding: $space $space * 2;
    }

    &__preview {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        border-left: 4px solid $green;
        width: 30vw;
        overflow: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: all .3s;

        &--open {
            transform: translateX(0); 
        }
    }
}
